<?xml version = '1.0' encoding = 'utf-8'?>
<Context>
<Resource name = 'jdbc/entity'
  auth = 'Container'
  factory = 'org.apache.tomcat.dbcp.dbcp.BasicDataSourceFactory'
  driverClassName = 'com.microsoft.sqlserver.jdbc.SQLServerDriver'
  type = 'javax.sql.DataSource'
  maxActive = '50'
  maxIdle = '10'
  maxWait = '15000'
  username = 'user'
  password = 'password'
  url = 'jdbc:sqlserver://localhost:1433;databaseName=database;'
  removeAbandoned = 'true'
  removeAbandonedTimeout = '30'
  logAbandoned = 'true' />
</Context>
